:root{
    --fontGreen: rgba(111, 184, 2);
    --btnYellow: rgba(235, 167, 0, 0.92);
    --btnOrange: rgba(235, 113, 14, 0.92);
    --btnRed: rgba(235, 49, 21,0.92);
}

@font-face {
    font-family: "positive sistem";
    src: url(Positive-System.woff);

}
@font-face{
    font-family: "ethnocentric";
    src: url(ethnocentric_rg.woff);
}

@font-face {
    font-family: "positive sistem";
    src: url(Positive-System.woff);
}


*{
    margin: 0;
    padding: 0px;
    margin: 0px;
}


body{
    font-family: 'Source Serif Pro', serif;
    color: white;
    background-color: black;
}
/*--------------- Tipografia  ---------------*/
h1{ /*Título principal*/
    color: var(--fontGreen);
    font-family: "positive sistem";
}

h4{ /*Perguntas*/
    color: white
}
label{
    font-size: 1.25rem;
}
p{
    font-size: 1.25rem;
}
input.form-check-input{
    font-size: 1.5rem;
}

.borda{
    border: 1px solid red;
}


#tela-principal{
    padding: 1rem;
    background: url(galeria/background_question.png) no-repeat;
    background-size: 80%;
}
/*--------------- Inputs  ---------------*/
input.btn{
    color: white;
    font-weight: bold;
}

input.btn:hover{
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.btn-yellow{
    background-color: var(--btnYellow);
}
.btn-orange{
    background-color: var(--btnOrange);
}
.btn-red{
    background-color: var(--btnRed);
}

/*--------------- Links  ---------------*/
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: var(--fontGreen);
}

/*--------------- Icones  ---------------*/
#redesSociais i{
    color: var(--fontGreen);
    font-size: 1.5rem;
    padding-left: 0.5rem;
}
#redesSociais i:hover{
    color: white;
}