:root{
    --fontGreen: rgb(111, 184, 2);
    --btnGreen: rgb(158, 255, 1);
    --btnOrange: rgb(247, 181, 0);
    --btnBlue: rgb(1, 255, 255);
}

@font-face {
    font-family: "positive sistem";
    src: url(Positive-System.woff);
}

*{
    margin: 0;
    padding: 0px;
    margin: 0px;
}

body{
    color: white;
    background-color: black;
}
/*--------------- Tipografia  ---------------*/
h1{ /*Título principal*/
    color: var(--fontGreen);
    font-family: "positive sistem";
}

label{
    font-size: 1.25rem;
}
p{
    font-size: 1.15rem;
}
.borda{
    border: 1px solid red;
}

#tela-principal{
    background-color: rgb(0, 73, 33);
    border-top: 8px solid rgb(58, 26, 2);
    border-left: 8px solid rgb(58, 26, 2);
    border-right: 8px solid rgb(110, 50, 3);
    border-bottom: 8px solid rgb(110, 50, 3);
}
/*--------------- Inputs  ---------------*/
input.btn:hover{
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.btn-green{
    background-color: var(--btnGreen);
}

.btn-orange{
    background-color: var(--btnOrange);
}

.btn-blue{
    background-color: var(--btnBlue);
}


